<div class="row">
    <div class="col-lg-6">
        <div class="box-element" id="form-wrapper">
            <form id="form" [formGroup]="addAddressForm" (ngSubmit)="handleAddAddress()">
                <div id="user-info">
                  <h2>Saved Addresses</h2>
                  <div *ngFor="let item of shippingAddresses">
                    <div>Address: {{item.address}}</div>
                    <div>City: {{item.city}}</div>
                    <div>State: {{item.state}}</div>
                    <div>Zip Code: {{item.zipcode}}</div>
                    <div>Country: {{item.country}}</div><br />
                  </div>
                    <!--<div class="form-field">
                        <input required class="form-control" type="email" name="email" placeholder="Email..">
                    </div>-->
                </div>
                
                <div id="shipping-info">
                    <hr>
                    <p>Shipping Information:</p>
                    <hr>
                    <div class="form-field">
                        <input class="form-control" type="text" formControlName="address" placeholder="Address..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" formControlName="city" placeholder="City..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" formControlName="state" placeholder="State..">
                    </div>
                    <div class="form-field">
                        <input class="form-control" type="text" formControlName="zipcode" placeholder="Zip code..">
                    </div>
                </div>

                <hr>
                <input id="form-button" class="btn btn-outline-success" type="submit" value="Continue">
            </form>
        </div>

        <br>
        <div class="box-element hidden" id="payment-info">
            <small>Paypal Options</small>
        </div>
        
    </div>

    <div class="col-lg-6">
        <div class="box-element">
            <a  class="btn btn-outline-dark" routerLinkActive="active" 
      [routerLinkActiveOptions]="{exact: true}" routerLink="/cart">&#x2190; Back to Cart</a>
          <!-- removed href="{% url 'cart' %}" as it was not working-->
            <hr>
            <h3>Order Summary</h3>
            <hr>
            <div class="cart-row" *ngFor="let item of orders">
                <div style="flex:2"><img class="row-image" src="/assets/images/{{item.url}}"></div>
                <div style="flex:2"><p>{{item.name}}</p></div>
                <div style="flex:1"><p>{{item.price}}</p></div>
                <div style="flex:1"><p>x{{item.qty}}</p></div>
            </div>
            <h5>Items:   {{totalOrders}}</h5>
            <h5>Total:   {{totalCost}}</h5>
        </div>
    </div>
</div>
