<div class="container">
    <div class="row">
      <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-5">
          <h1 class="display-5 fw-bold">Books Management</h1>
          <a class="btn btn-primary btn-lg" routerLink="/admin/books/add-book" role="button">Add Book</a>
        </div>
      </div>
    </div>
  
    <div class="row">
        <div class="col-lg-4" *ngFor="let book of books">
            <a routerLink="/admin/books/{{book.id}}">
                <img class="thumbnail" src="{{book.bookImage}}">
                <div class="box-element product">
                    <h6><strong> {{book.bookTitle}}</strong></h6>
                    <h4 style="display: inline-block;"><strong>{{book.bookPrice}}</strong></h4>
                </div>
            </a>
        </div>
      </div>
</div>
  