<div class="row">
  <div class="col-lg-12">
    <div class="box-element">
      <a class="btn btn-outline-dark" routerLinkActive="active" [routerLinkActiveOptions]="{exact: true}"
        routerLink="/books">&#x2190; Continue Shopping</a>
      <br>
      <br>
      <table class="table">
        <tr>
          <th>
            <h5>Items: <strong>{{orders.length}}</strong></h5>
          </th>
          <th>
            <h5>Grand Total:<strong> {{total}}</strong></h5>
          </th>
          <th>
            <a style="float:right; margin:5px;" class="btn btn-outline-success" routerLinkActive="active"
              [routerLinkActiveOptions]="{exact: true}" routerLink="/checkout">Checkout</a>
            <button style="float:right; margin:5px;" class="btn btn-outline-primary" (click)="handleCartSave()">Save Cart</button>
          </th>
        </tr>
      </table>
    </div>

    <br>
    <div class="box-element">

      <div class="cart-row">
        <div style="flex:2"></div>
        <div style="flex:2"><strong>Item</strong></div>
        <div style="flex:1"><strong>Price</strong></div>
        <div style="flex:1"><strong>Quantity</strong></div>
        <div style="flex:1"><strong>Total</strong></div>
        <div style="flex:1"></div>
      </div>

      <div class="cart-row" *ngFor="let order of orders">
        <div style="flex:2">
          <a routerLink="/books/{{order.id}}">
            <img class="row-image" src="/assets/images/{{order.Book.bookImage}}">
          </a>
        </div>
        <div style="flex:2">
          <p>{{order.Book.bookTitle}}</p>
        </div>
        <div style="flex:1">
          <p>{{order.Book.bookPrice}}</p>
        </div>
        <div style="flex:1">
          <input type="number" min="0" [(ngModel)]="order.qty" class="qty" id="qty{{order.id}}" 
                  (change)="calculateTotal()">
        </div>
        <div style="flex:1">
          <p>{{(order.Book.bookPrice * order.qty)}}</p>
        </div>
        
        <div style="flex:1;">
          <button class="btn-danger" (click)="DeleteById(order.id)"> 
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor" class="bi bi-trash" viewBox="0 0 16 16">
              <path d="M5.5 5.5A.5.5 0 0 1 6 6v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm2.5 0a.5.5 0 0 1 .5.5v6a.5.5 0 0 1-1 0V6a.5.5 0 0 1 .5-.5zm3 .5a.5.5 0 0 0-1 0v6a.5.5 0 0 0 1 0V6z" />
              <path fill-rule="evenodd" d="M14.5 3a1 1 0 0 1-1 1H13v9a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2V4h-.5a1 1 0 0 1-1-1V2a1 1 0 0 1 1-1H6a1 1 0 0 1 1-1h2a1 1 0 0 1 1 1h3.5a1 1 0 0 1 1 1v1zM4.118 4 4 4.059V13a1 1 0 0 0 1 1h6a1 1 0 0 0 1-1V4.059L11.882 4H4.118zM2.5 3V2h11v1h-11z" />
            </svg>
          </button>
        </div>
        
        
        
      </div>

    </div>
  </div>
</div>
