<nav class="navbar fixed-top navbar-expand-md flex-nowrap navbar-new-top">
    <a href="/" class="navbar-brand"><img src="#" alt=""/>SOTI Book Store</a>
    <ul class="nav navbar-nav mr-auto"></ul>
    <ul class="navbar-nav flex-row">
    
        <app-menu>
            <li class="nav-item">
                <a class="nav-link " routerLinkActive="active" routerLink="/cart">
                    <img src="\assets\images\book (2).png" class="img-responsive">
                </a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/login">Login</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" routerLinkActive="active" routerLink="/signup">SignUp</a>
            </li>
        </app-menu>
        
    </ul>
    
</nav>
<nav class="navbar fixed-top navbar-expand-md navbar-new-bottom">
    <div class="navbar-collapse collapse pt-2 pt-md-0" id="navbar2">

        <ul class="navbar-nav w-100 justify-content-center px-3">
            <li class="nav-item active">
                <a class="nav-link" href="#">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
            <li class="nav-item">
                <a class="nav-link">Link</a>
            </li>
        </ul>
    </div>
</nav>
