<!-- ======= Hero Section ======= -->
<section id="hero" class="d-flex align-items-center justify-content-center">
  <div class="container" data-aos="fade-up">

    <div class="row justify-content-center" data-aos="fade-up" data-aos-delay="150">
      <div class="col-xl-6 col-lg-8">
        <h1>SOTI Book Store<span>.</span></h1>
        <h2>Where the whole world comes to read</h2>
      </div>
    </div>

    <div class="row gy-4 mt-5 justify-content-center" data-aos="zoom-in" data-aos-delay="250">
      <div class="row">
        <div class="col-lg-4" *ngFor="let lbook of fbooks">
          <a [routerLink]="['/books',lbook.id]">
            <img class="thumbnail" src="/assets/images/{{lbook.url}}">
            <div class="box-element product">
              <h6><strong> {{lbook.name}}</strong></h6>
              <h4 style="display: inline-block;"><strong>{{lbook.price}}</strong></h4>
            </div>
          </a>
        </div>
      </div>
    </div>
    </div>
</section><!-- End Hero -->

